<ul>
    <li>
      <h2>Title</h2>
      <p id="card-info">Supporting text about the call-to-action goes here.</p>
      <button><img src="/img/arrow.png" alt="icon of an arrow"></button>
    </li>

    <li>
      <h2>Title</h2>
      <p id="card-info">Supporting text about the call-to-action goes here.</p>
      <button><img src="/img/arrow.png" alt="icon of an arrow"></button>
    </li>
  </ul>