<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CTA Section - Two Blocks</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section>
      <h1>Mandatory title about the <span>call-to-action</span> here</h1>
      <p>Label</p>
      <p>Optional body copy goes here</p>
      <a href="#">Optional button &#8594;</a>

      <%- include('../partials/image-section'); %>
    </section>
  </body>
</html>
